.program {
    float: center;
    background: #3e3e3e;
    height: 100%;
    width: 180px;
    position:fixed;
    overflow:auto;
}
.prog-list {
    float: left;
    margin: 15px;
    padding: 15px;
    list-style: none;
}
.prog-list li a {
    display:block;
    padding-top: 15px;
    font-family: 'Source Code Pro';
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color:#fff;
    height: 60px;
    width:100%;
    margin: 15px;
}
